
@{
    ViewBag.Title = "applicationform";
}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<div class="form-group text-center">
    <h2><u><strong>Application form</strong></u></h2>
</div>

<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
    <div class="row">

        <div class="bg-info">
            <label>Name:</label>
            <input type="text" class="form-control" id="name" placeholder="Enter name">
        </div>

        <div class=" bg-info">
            <label>Email address:</label>
            <input type="email" class="form-control" id="email" placeholder="Enter email">
        </div>

        <div class=" bg-info">
            <label>Address:</label>
            <input type="text" class="form-control" id="add" placeholder="Enter address">
        </div>

        <div class=" bg-info">
            <label>State:</label>
            <input type="text" class="form-control" id="state" placeholder="Enter state">
        </div>

        <div class=" bg-info">
            <label>City:</label>
            <input type="text" class="form-control" id="city" placeholder="Enter city">
        </div>
        @*commit*@
        <div style="display: flex; justify-content: flex-start;">
            <div class="form-group" style="padding : 10px;">
                <input type="submit" class="btn btn-info btn-lg" value="Save" onclick="fn_save();" />
            </div>
            <div class="form-group" style="margin : 10px;">
                <input type="submit" class="btn btn-info btn-lg" value="Details" id="button1" />
            </div>
        </div>





        <table class="table table-striped">

            <thead>


                <tr>


                    <th class="bg-success" scope="col">Name</th>
                    <th class="bg-success" scope="col">Address</th>
                    <th class="bg-success" scope="col">State</th>
                    <th class="bg-success" scope="col">City</th>
                    <th class="bg-success" scope="col">Action</th>
                    <th class="bg-success" scope="col">Action</th>

                </tr>

            </thead>

            <tbody>
                @foreach (var lst in ViewBag.emp)
                {
                    <tr>
                        <th scope="row">@lst.name</th>
                        <td>@lst.address</td>
                        <td>@lst.state</td>
                        <td>@lst.city</td>
                        <td>

                            <input type="submit" value="Edit" class="btn btn-info btn-lg" onclick="edit('@lst.id')" />
                        </td>
                        <td>
                            <input type="button" value="Delete" class="btn btn-info btn-lg" onclick="deleteEmployee('@lst.id')" />
                        </td>

                    </tr>
                }



            </tbody>
        </table>








        <script src="~/Scripts/jquery-3.4.1.min.js"></script>
        <script type="text/javascript">

            $(document).ready(function () {
                $("#button1").click(function () {
                    $(this).button("loading").delay(500).queue(function () {
                        $(this).button("reset");
                        $(this).dequeue();
                    });
                });
            });

            function fn_save() {
                var name = $("#name").val();

                if (name == "") {
                    alert("field can not be empty");
                    $("#name").focus()
                    return false;
                }

                var email = $("#email").val();
                var address = $("#add").val();
                var state = $("#state").val();
                var city = $("#city").val();

                $.ajax({

                    url: '/Home/Applicationform?name=' + name + '&email=' + email + '&address=' + address + '&state=' + state + '&city=' + city,
                    method: 'POST',
                    success: function (data) {

                        $("#name").val("");
                        $("#email").val("");
                        $("#add").val("");
                        $("#state").val("");
                        $("#city").val("");

                        window.location.reload();


                    }
                });

            }

            function edit(evnt) {
                $.ajax({

                    url: '/Home/fetch?id=' + evnt,
                    type: 'POST',
                    success: function (data) {
                        console.log(data);
                        $("#name").val(data.name);
                        $("#email").val(data.email);
                        $("#add").val(data.address);
                        $("#state").val(data.state);
                        $("#city").val(data.city);


                    }
                });




            }
            function deleteEmployee(id) {
                if (confirm("Are you sure you want to delete this employees details?")) {
                    $.ajax({
                        url: '/Home/DeleteEmployee?id=' + id,
                        type: 'POST',
                        success: function (data) {
                            // Assuming the server returns a success message or status
                            if (data.success) {
                                alert("Employees details deleted successfully .");
                                // Optionally, you can reload the page to reflect the changes
                                window.location.reload();
                            } else {
                                alert("Failed to delete employees details.");
                            }
                        },
                        error: function () {
                            alert("An error occurred while trying to delete the employees details.");
                        }
                    });
                }
            }



        </script>

